<!DOCTYPE html>
<html>
<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<body>  


<!-- GOOGLE PLUS SIGN IN BUTTON-->

          
          <div id="signinButton">
        </div>

<div id="result"></div>

<!-- GOOGLE PLUS SIGN IN SCRIPT -->       




<button>
         

<fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
<a href='javascript:sendTokenToServer()'>Login with Facebook</a>

</fb:login-button>


        </button>
<!--END FACEBOOK SIGN IN -->

  </body>

  </html>
